<h2>Your MAP</h2>
<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>},
  zoom: 15
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHE7J0_xmhl6aqKXBSGNJas1sY9QV0rzA&callback=initMap" async defer></script>